<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %>

    <body>
        <!-- header -->
        <%- include('../partials/header') %>
            <!-- MAIN -->
            <main>
                <section class="main__info__section">
                    <div class="main__info__section__container">
                        <h2>Resultado de búsqueda</h2>
                        <small>Nº de resultados: 0</small>
                        <hr>
                        <h2>Ordenar productos</h2>
                        <ul>
                            <li><a href="/product/busqueda?state=relevant">Mayor Relevancia</a></li>
                            <li><a href="/product/busqueda?state=desc">Mayor Precio</a></li>
                            <li><a href="/product/busqueda?state=asc">Menor Precio</a></li>
                        </ul>
                        <hr>
                        <div class="main__info__menutablet">
                            <h2>Categorías</h2>
                           <ul>
                            <li>
                            <% categories.forEach(category => { %>
                             <a href="/product/busqueda?category=<%= category.name %>"><%= category.name %></a>
                            <% }) %>
                            </li>
                           </ul>
                            <hr>
                        </div>
<!--                         <h2 class="h2__marcas">Marcas</h2>
                        <div class="cambioClave__main__section__form__box">
                            <div class="busqueda__checkbox__container">
                                <div>
                                    <ul>
                                        <li><label class="b-contain">
                                                <span>MSI</span>
                                                <input type="checkbox" />
                                                <div class="b-input"></div>
                                            </label></li>
                                        <li><label class="b-contain">
                                                <span>ASUS</span>
                                                <input type="checkbox" />
                                                <div class="b-input"></div>
                                            </label></li>
                                        <li><label class="b-contain">
                                                <span>ASROCK</span>
                                                <input type="checkbox" />
                                                <div class="b-input"></div>
                                            </label></li>
                                        <li><label class="b-contain">
                                                <span>RAZER</span>
                                                <input type="checkbox" />
                                                <div class="b-input"></div>
                                            </label></li>
                                    </ul>
                                </div>
                                <div>
                                    <ul>
                                        <li><label class="b-contain">
                                                <span>HYPERX</span>
                                                <input type="checkbox" />
                                                <div class="b-input"></div>
                                            </label></li>
                                        <li><label class="b-contain">
                                                <span>AMD</span>
                                                <input type="checkbox" />
                                                <div class="b-input"></div>
                                            </label></li>
                                        <li><label class="b-contain">
                                                <span>INTEL</span>
                                                <input type="checkbox" />
                                                <div class="b-input"></div>
                                            </label></li>
                                        <li><label class="b-contain">
                                                <span>LOGITECH</span>
                                                <input type="checkbox" />
                                                <div class="b-input"></div>
                                            </label></li>
                                    </ul>
                                </div>
                            </div>
                        </div> -->
                    </div>
                </section>
                <section>
                    <div class="main__section__article">
                        <% productsFound.forEach(({name, id, price, discountAmount}) => { %>
                            <article class="main__section__recomendados__articulos">
                                <img src="/images/Productos-img/PC-GAMER-AMD-RYZEN-5-5500-RTX-3050-B450M-16GB-500SSD-500W-AUREOX-ORION.webp"
                                    alt="">
                                <p class="main__section__recomendados__articulos__detalle detalle__main__title"><%= name %> +</p>
                                 <p> <%= discountAmount%>%OFF</p>
                                <h2 class="main__section__recomendados__precio">$<%= price %></h2>
                                <small class="main__section__recomendados__cuotas">12 cuotas sin interés</small>
                                <div class="article1__boton__general button">
                                    <a href="/product/detail/<%= id %>"><button class="boton__general">VER MÁS</button></a>
                                </div>
                            </article>
                        <% }) %>
                    </div>
                </section>
                <div class="flechas__navegador">
                    <i class="fa-solid fa-arrow-left"></i>
                    <a href="">1</a>
                    <a href="">2</a>
                    <a href="">3</a>
                    <i class="fa-solid fa-arrow-right"></i>
                </div>
            </main>
            <!-- footer -->
            <%- include('../partials/footer') %>
                <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
                    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
                    crossorigin="anonymous"></script>
    </body>

</html>