<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

    <body data-userId="<%= locals.userLogin?.id %>">
        <%- include('../partials/header') %>
            <main>
                <section class="col-lg-6" style="margin: auto;">
                    <div class="main__section__article" id="container-products-card">

                    </div>
                </section>
            </main>
            <%- include('../partials/paginador') %>
                <%- include('../partials/footer') %>
                    <script src="/javascripts/enableLightMode.js"></script>
                    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
                        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
                        crossorigin="anonymous"></script>
                        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
                    <script src="/javascripts/paginator.js"></script>

    </body>

</html>