<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
    <body>
        <!-- Header -->
        <%- include('../partials/header') %>
            <main>
                <!-- EDITAR PRODUCTO -->
                <div class="producto__container">
                    <div class="producto">
                        <h3 id="editar_producto">Editar Producto</h3>
                        <form action="/admin/dashboard/edit/<%= id %>?_method=PUT" method="post">
                        <section>
                            <div class="form__box__login">
                                <label for="name">Introducir Nombre</label>
                                <input type="text" name="name" value="<%= locals.old && old.name ? old.name : name %>"/>
                                <small style="color:red"><%= locals.errors && errors.name ? errors.name.msg : null %></small>
                            </div>

                            <div class="form__box__login">
                                <label for="price">Introducir Precio</label>
                                <input type="number" name="price" value="<%= locals.old && old.price ? old.price : price %>"/>
                                <small style="color:red"><%= locals.errors && errors.price ? errors.price.msg : null %></small>
                            </div>
                        </section>
                        <section class="producto__file">
                            <h3>Añadir Imágenes</h3>
                            <input type="file" accept="jpg, png" multiple name="" id="">
                        </section>
                        <section>
                            <h3>Añadir Descripción</h3>
                            <div class="col-12 mb-3">
                                <label for="description" class="form-label">Descripción del Producto</label>
                                <textarea class="form-control" id="description" rows="3"
                                    name="description"><%= locals.old && old.description ? old.description : description %></textarea>

                                    <small style="color:red"><%= locals.errors && errors.description ? errors.description.msg : null %></small>
                            </div>
                        </section>
                        <section>
                            <div class="col-12 mb-3">
                                <label for="specifications" class="form-label">Especificaciones</label>
                                <textarea class="form-control" id="specifications" rows="3"
                                    name="specifications"><%= locals.old && old.specifications ? old.specifications : specifications %></textarea>
                                    <small style="color:red"><%= locals.errors && errors.specifications ? errors.specifications.msg : null %></small>
                            </div>
                            <div class="form__box__login">
                                <label for="discount">Descuento</label>
                                <input type="text" name="discount"
                                    placeholder="Introducir Descuento..." value="<%= locals.old && old.discount ? old.discount : discount %>"/>
                                    <small style="color:red"><%= locals.errors && errors.discount ? errors.discount.msg : null %></small>
                            </div>
                            <div class="main__info__section select">
                                <p>Seleccionar Categoria</p>
                                <label for="categories">Categorias:</label>
                                        <% allCategories.forEach(category=> { %>
                                            <label>
                                                <input type="checkbox" id="categories" name="categories" value="<%= category.id %>" 
                                                <% categories.forEach(categoryP => { %>
                                                    <%= categoryP.id === category.id && 'checked' %>
                                                <% }) %>>
                                                <%= category.name %></label>
                                            <% }) %>
                                <br><br>
                                <small style="color:red"><%= locals.errors && errors.categories ? errors.categories.msg : null %></small>
                            </div>
                            <div class="main__info__section select">
                                <p>Seleccionar Gama</p>
                                <label for="gama">Gamas:</label>
                                <select name="gama" id="gama">
                                    <optgroup label="Gamas">
                                        <option value="" selected hidden>Seleccione...</option>
                                        <% gamas.forEach(gama=> { %>
                                            <option value="<%= gama.id %>" <%= gama.id == gamaId && 'selected' %>>
                                                <%= gama.name %>
                                            </option>
                                            <% }) %>
                                    </optgroup>
                                </select>
                                <br><br>
                                <small style="color:red"><%= locals.errors && errors.gama ? errors.gama.msg : null %></small>
                            </div>
                            <div class="main__info__section select">
                                <p>Seleccionar Marca</p>
                                <label for="brand">Marcas:</label>
                                <select name="brand" id="brand">
                                    <optgroup label="brands">
                                        <option value="" selected hidden>Seleccione...</option>
                                        <% brands.forEach(brand=> { %>
                                            <option value="<%= brand.id %>" <%= brand.id == brandId && 'selected' %>>
                                                <%= brand.name %>
                                            </option>
                                            <% }) %>
                                    </optgroup>
                                </select>
                                <br><br>
                                <small style="color:red"><%= locals.errors && errors.brand ? errors.brand.msg : null %></small>
                            </div>
                        </section>
                        <div class="article1__boton__general button">
                            <button class="boton__general" type="submit">
                                Enviar
                            </button>
                        </div>
                        </form>
                    </div>
                </div>
            </main>
            <%- include('../partials/footer') %>
                <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
                    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
                    crossorigin="anonymous"></script>
    </body>
</html>