<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head')  %> 
<body>
  <!-- Header -->
    <%- include('../partials/header')  %> 
        <!-- MAIN -->
        <main class="login__main">
            <section class="login__main__section">
              <div class="login__main__section__titular">
                <h2>Inicio de Sesión</h2>
                <h4>Inicia sesión con tu correo electrónico</h4>
              </div>
              <form action="" method="POST" id="user-login" class="login__main__section__form">
                <div class="form__box__login">
                  <label for="">Email</label>
                  <input type="email" placeholder="Ingresa tu email" id="email" name="email" value="<%= locals.old && old.email ? old.email : null %>"/>
                  <small style="color:red"><%= locals.errors && errors.email ? errors.email.msg : null %></small>
                </div>
                <div class="form__box__login">
                  <label for="">Contraseña</label>
                  <input type="password" placeholder="Ingresa tu contraseña" id="password" name="password" value="<%= locals.old && old.password ? old.password : null %>"/>
                  <small style="color:red"><%= locals.errors && errors.password ? errors.password.msg : null %></small>
                  <button type="button">
                    <i class="fa-solid fa-eye"></i>
                  </button>
                  <a class="form__box__login__link" href="/user/changepass">¿Olvidaste tu contraseña?</a>
                </div>
                <hr>
                <div class="checkbox__login">
                  <input class="form-check-input" type="checkbox" name="remember" id="flexCheckDefault">
                  <label class="form-check-label" for="flexCheckDefault">Recuérdame</label>
                </div>
                <div class="button__login">
                  <button type="submit" class="boton__general">
                      Inicia sesión
                  </button>
                </div>
                <div class="login__socialmedia">
                  <h4>Iniciar sesion con:</h4>
                  <button href=""><i class="fa-brands fa-google"></i>Google</button>
                  <button href=""><i class="fa-brands fa-facebook"></i>Facebook</button>
                </div>
                <div class="login__forget-account">
                  <h4>¿No tienes cuenta?</h4>
                  <a href="/user/register">Registrate</a>
                </div>
              </form>
            </section>
          </main>
          <!-- Footer -->
          <%- include('../partials/footer')  %> 
          <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    </body>
</html>