<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

  <body>
    <!-- Header -->
    <%- include('../partials/header') %>
      <!-- MAIN -->
      <main class="register__main">
        <section class="register__main__section">
          <div class="register__main__section__titulares">
            <h2>Registrarse</h2>
            <h4>Registrate con tu correo electronico</h4>
          </div>
          <form action="" class="register__main__section__form" method="post" id="form-register">
            <div class="register__form__box">
              <label for="name">Nombre</label>
              <input id="name" type="text" placeholder="Ingresa tu nombre" name="name"
                value="<%= locals.old && old.name ? old.name : null %>" />
              <small id="errorName">
                <%= locals.errors && errors.name ? errors.name.msg : null %>
              </small>
            </div>
            <div class="register__form__box">
              <label for="surname">Apellido</label>
              <input id="surname" type="text" placeholder="Ingresa tu apellido" name="surname"
                value="<%= locals.old && old.surname ? old.surname : null %>" />
              <small id="errorSurname">
                <%= locals.errors && errors.surname ? errors.surname.msg : null %>
              </small>
            </div>
            <div class="register__form__box">
              <label for="email">Email</label>
              <input type="email" placeholder="Ingresa tu email" id="email" name="email"
                value="<%= locals.old && old.email ? old.email : null %>" />
              <small id="errorEmail">
                <%= locals.errors && errors.email ? errors.email.msg : null %>
              </small>
            </div>
            <div class="register__form__box">
              <label for="password">Contraseña</label>
              <input type="password" placeholder="Ingresa tu contraseña" id="password" name="password" />
              <small id="errorPassword">
                <%= locals.errors && errors.password ? errors.password.msg : null %>
              </small>
              <ul id="msgPassword" class="small" hidden>
                <li id="mayuscula">Una mayuscula</li>
                <li id="minuscula">Una minuscula</li>
                <li id="number">Un numero</li>
                <li id="special">Un caracter especial (@!%*?&-_) </li>
              </ul>
            </div>
            <div class="register__form__box">
              <label for="password2">Repetir contraseña</label>
              <input type="password" placeholder="Repite tu contraseña" id="password2" name="password2" />
              <small id="errorPassword2">
                <%= locals.errors && errors.password2 ? errors.password2.msg : null %>
              </small>
            </div>
            <div>
              <p class="text-danger small text-center" id="error-form"></p>
            </div>
            <div class="register__button">
              <button type="submit" class="boton__general">Registrarse</button>
            </div>
            <div class="register__socialmedia">
              <h4>O registrate con:</h4>
              <a class="login_google_btn" href="/auth/login/google"><i class="fa-brands fa-google"></i> Google</a>
            </div>
            <div class="login__forget-account">
              <h4>¿Ya tienes cuenta?   </h4>
              <div><a href="/user/login">Ingresar</a></div>
              
            </div>
          </form>
        </section>
      </main>
      <%- include('../partials/footer') %>
      /* LIGHTMODE */
          <script src="/javascripts/enableLightMode.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
          crossorigin="anonymous"></script>

          <script src="/javascripts/register.js"></script>
  </body>

</html>