<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

  <body>
    <!-- Header -->
    <%- include('../partials/header') %>
      <!-- MAIN -->
      <main class="main__user">
        <section class="main__section__user">
          <article class="main__article__user__datos">
            <form action="/user/edit/<%= userLogin.id %>?_method=PUT" method="post">
              <div class="main__article__user__menu">
                <h2>
                  <%= name %>
                </h2>
                <section class="profile__data">
                  <div class="relative block">
                    <img alt="profil" src="/images/user.png" class="mx-auto object-cover rounded-full h-20 w-20 " />
                  </div>
                  <label class="block" for="">
                    <input class="block w-full text-sm text-slate-500
                    file:mr-4 file:py-2 file:px-4
                    file:rounded-full file:border-0
                    file:text-sm file:font-semibold
                    file:bg-violet-50 file:text-violet-700
                    hover:file:bg-violet-100" type="file">
                  </label>
                </section>
                <h2>
                  <%= email %>
                </h2>
              </div>
              <h2>Mis Datos</h2>
              <div class="input__group__general">
                <input id="name" name="name" class="input__general" type="text" value="<%= locals.old && old.name ? old.name : name %>"/>
                <label for="name" class="label__general">
                  <%= name ? name : 'Ingrese su nombre' %>
                </label>
                <small style="color:red"><%= locals.errors && errors.name ? errors.name.msg : null %></small>
              </div>
              <div class="input__group__general">
                <input id="surname" name="surname" class="input__general" type="text" value="<%= locals.old && old.surname ? old.surname : surname %>"/>
                <label for="surname" class="label__general">
                  <%= surname ? surname : 'Ingrese su apellido' %>
                </label>
                <small style="color:red"><%= locals.errors && errors.surname ? errors.surname.msg : null %></small>
              </div>
              <div class="input__group__general">
                <input id="phone" name="phone" class="input__general" type="number" value="<%= locals.old && old.phone ? old.phone : phone %>"/>
                <label for="phone" class="label__general">
                  <%= phone ? phone : 'Ingrese su numero de telefono' %>
                </label>
                <small style="color:red"><%= locals.errors && errors.phone ? errors.phone.msg : null %></small>
              </div>
              <div class="input__group__general">
                <input id="dni" name="dni" class="input__general" type="number" value="<%= locals.old && old.dni ? old.dni : dni %>"/>
                <label for="dni" class="label__general">
                  <%= dni ? dni : 'Ingrese su DNI' %>
                </label>
                <small style="color:red"><%= locals.errors && errors.dni ? errors.dni.msg : null %></small>
              </div>
              <h2>Mis Direcciones</h2>
              <div class="input__group__general">
                <input id="street" name="street" class="input__general" type="text" value="<%= locals.old && old.street ? old.street : street %>"/>
                <label for="street" class="label__general">
                  <%= street ? street : 'Ingrese su direccion' %>
                </label>
                <small style="color:red"><%= locals.errors && errors.street ? errors.street.msg : null %></small>
              </div>
              <div class="input__group__general">
                <input id="streetNumber" name="streetNumber" class="input__general" type="number" value="<%= locals.old && old.streetNumber ? old.streetNumber : streetNumber %>"/>
                <label for="streetNumber" class="label__general">
                  <%= streetNumber ? streetNumber : 'Ingrese su altura' %>
                </label>
                <small style="color:red"><%= locals.errors && errors.streetNumber ? errors.streetNumber.msg : null %></small>
              </div>
              <div class="input__group__general">
                <input id="floor" name="floor" class="input__general" type="number" value="<%= locals.old && old.floor ? old.floor : floor %>"/>
                <label for="floor" class="label__general">
                  <%= floor ? floor : 'Ingrese su piso' %>
                </label>
              </div>
              <div class="input__group__general">
                <input id="dept" name="dept" class="input__general" type="number" value="<%= locals.old && old.dept ? old.dept : dept %>"/>
                <label for="dept" class="label__general">
                  <%= dept ? dept : 'Ingrese su departamento' %>
                </label>
              </div>
              <div class="input__group__general">
                <input id="ref" name="ref" class="input__general" type="text" value="<%= locals.old && old.ref ? old.ref : ref %>"/>
                <label for="ref" class="label__general">
                  <%= ref ? ref : 'Ingrese alguna referencia' %>
                </label>
              </div>
              <div class="input__group__general">
                <input id="postcode" name="postcode" class="input__general" type="number" value="<%= locals.old && old.postcode ? old.postcode : postcode %>"/>
                <label for="postcode" class="label__general">
                  <%= postcode ? postcode : 'Coloque su codigo postal' %>
                </label>
                <small style="color:red"><%= locals.errors && errors.postcode ? errors.postcode.msg : null %></small>
              </div>
              <div class="input__group__general">
                <input id="province" name="province" class="input__general" type="text" value="<%= locals.old && old.province ? old.province : province %>"/>
                <label for="province" class="label__general">
                  <%= province ? province : 'Coloque su provincia' %>
                </label>
                <small style="color:red"><%= locals.errors && errors.province ? errors.province.msg : null %></small>
              </div>
              <div class="input__group__general">
                <input id="location" name="location" class="input__general" type="text" value="<%= locals.old && old.location ? old.location : location %>"/>
                <label for="location" class="label__general">
                  <%= location ? location : 'Coloque su localidad' %>
                </label>
                <small style="color:red"><%= locals.errors && errors.location ? errors.location.msg : null %></small>
              </div>
              <button class="boton__general">Guardar</button>
            </form>
          </article>
        </section>
      </main>
      <!-- Footer -->
      <%- include('../partials/footer') %>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
          crossorigin="anonymous"></script>
        <script src="/javascripts/user.js" type="text/javascript"></script>
        <!-- TAILWIND -->
        <script src="https://cdn.tailwindcss.com"></script>
  </body>

</html>